﻿<div class="jumbotron">
    <div class="container">
        <form id="upload-form" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="uploadFile">Select File</label>
                <input type="file" class="form-control" id="uploadFile" name="uploadFile"/>
                <div>- or -</div>
                <label for="uploadUrl">Copy URL</label>
                <input type="text" class="form-control" id="uploadUrl" name="uploadUrl"/>
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Address (for notifications)</label>
                <input type="text" class="form-control" id="emailAddress" name="emailAddress"/>
            </div>
            <div class="form-group">
                <label for="datePublished">Date / Time to Publish</label>
                <input type="text" class="form-control" id="datePublished" name="datePublished"/>
            </div>
            <div class="form-group">
                <label for="location">Your Location</label>
                <input type="text" class="form-control" id="location" name="location"/>
            </div>
            <button id="submit" type="submit" class="btn btn-default">Submit Image</button>
        </form>
    </div>
</div>